Dsl/GeneratedCode/MobileDSLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="MobileDSLSchema" targetNamespace="http://schemas.microsoft.com/dsltools/MobileDSL" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/MobileDSL" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- MobileAppModel -->
  <xsd:element name="mobileAppModel" type="MobileAppModel" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModel">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: MobileAppModelHasServices -->
          <xsd:element name="services" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MobileAppModelHasServices</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="mobileAppModelHasServices">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from MobileAppModelHasServices needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="service" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: MobileAppModelHasControllers -->
          <xsd:element name="controllers" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MobileAppModelHasControllers</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="mobileAppModelHasControllers" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MobileAppModelHasControllers needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: MobileAppModelHasStates -->
          <xsd:element name="states" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MobileAppModelHasStates</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="mobileAppModelHasStates" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MobileAppModelHasStates needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: MobileAppModelHasDataLinked -->
          <xsd:element name="dataLinked" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MobileAppModelHasDataLinked</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="mobileAppModelHasDataLinked" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MobileAppModelHasDataLinked needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: MobileAppModelHasShowFormed -->
          <xsd:element name="showFormed" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MobileAppModelHasShowFormed</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="mobileAppModelHasShowFormed" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MobileAppModelHasShowFormed needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: MobileAppModelHasServiceInvoked -->
          <xsd:element name="serviceInvoked" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MobileAppModelHasServiceInvoked</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="mobileAppModelHasServiceInvoked" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MobileAppModelHasServiceInvoked needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: MobileAppModelHasServiceMsg -->
          <xsd:element name="serviceMsg" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MobileAppModelHasServiceMsg</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="mobileAppModelHasServiceMsg" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MobileAppModelHasServiceMsg needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: MobileAppModelHasAppCoded -->
          <xsd:element name="appCoded" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MobileAppModelHasAppCoded</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="mobileAppModelHasAppCoded" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MobileAppModelHasAppCoded needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModel Moniker -->
  <xsd:element name="mobileAppModelMoniker" type="MobileAppModelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModel instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Service -->
  <xsd:element name="service" type="Service" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Service">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ServiceReferencesTargets -->
          <xsd:element name="targets" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ServiceReferencesTargets</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="serviceReferencesTargets">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from ServiceReferencesTargets needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="serviceMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Service Moniker -->
  <xsd:element name="serviceMoniker" type="ServiceMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ServiceMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Service instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Controller -->
  <xsd:element name="controller" type="Controller" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Controller">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ControllerReferencesStates -->
          <xsd:element name="states" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ControllerReferencesStates</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="controllerReferencesStates" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ControllerReferencesStates needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ControllerHasPorts -->
          <xsd:element name="ports" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ControllerHasPorts</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="controllerHasPorts" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ControllerHasPorts needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: isStartController -->
        <xsd:attribute name="isStartController" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Controller Moniker -->
  <xsd:element name="controllerMoniker" type="ControllerMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ControllerMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Controller instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State -->
  <xsd:element name="state" type="State" substitutionGroup="core:modelElement" />
  <xsd:complexType name="State">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: StateReferencesShowForm -->
          <xsd:element name="showForm" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of StateReferencesShowForm</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="stateReferencesShowForm" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of StateReferencesShowForm needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: StateReferencesPortFromState -->
          <xsd:element name="portFromState" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of StateReferencesPortFromState</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="stateReferencesPortFromState" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of StateReferencesPortFromState needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: StateReferencesTargetStated -->
          <xsd:element name="targetStated" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of StateReferencesTargetStated</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="stateReferencesTargetStated" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of StateReferencesTargetStated needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: isStartState -->
        <xsd:attribute name="isStartState" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- State Moniker -->
  <xsd:element name="stateMoniker" type="StateMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="StateMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for State instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataLink -->
  <xsd:element name="dataLink" type="DataLink" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DataLink">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataLink Moniker -->
  <xsd:element name="dataLinkMoniker" type="DataLinkMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DataLinkMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DataLink instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowForm -->
  <xsd:element name="showForm" type="ShowForm" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ShowForm">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ShowFormHasGraphicElements -->
          <xsd:element name="graphicElements" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ShowFormHasGraphicElements</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="showFormHasGraphicElements" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ShowFormHasGraphicElements needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Background -->
        <xsd:attribute name="background" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowForm Moniker -->
  <xsd:element name="showFormMoniker" type="ShowFormMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ShowFormMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ShowForm instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- GraphicElement -->
  <xsd:element name="graphicElement" type="GraphicElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="GraphicElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- GraphicElement Moniker -->
  <xsd:element name="graphicElementMoniker" type="GraphicElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="GraphicElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for GraphicElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Input -->
  <xsd:element name="input" type="Input" substitutionGroup="graphicElement" />
  <xsd:complexType name="Input">
    <xsd:complexContent>
      <xsd:extension base="GraphicElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: LeftText -->
        <xsd:attribute name="leftText" type="xsd:string" />
        <!-- Property: InputMode -->
        <xsd:attribute name="inputMode" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Input Moniker -->
  <xsd:element name="inputMoniker" type="InputMoniker" substitutionGroup="graphicElementMoniker" />
  <xsd:complexType name="InputMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Input instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GraphicElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Label -->
  <xsd:element name="label" type="Label" substitutionGroup="graphicElement" />
  <xsd:complexType name="Label">
    <xsd:complexContent>
      <xsd:extension base="GraphicElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Label Moniker -->
  <xsd:element name="labelMoniker" type="LabelMoniker" substitutionGroup="graphicElementMoniker" />
  <xsd:complexType name="LabelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Label instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GraphicElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ServiceInvoke -->
  <xsd:element name="serviceInvoke" type="ServiceInvoke" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ServiceInvoke">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ServiceInvoke Moniker -->
  <xsd:element name="serviceInvokeMoniker" type="ServiceInvokeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ServiceInvokeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ServiceInvoke instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ServiceMsg -->
  <xsd:element name="serviceMsg" type="ServiceMsg" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ServiceMsg">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ServiceMsg Moniker -->
  <xsd:element name="serviceMsgMoniker" type="ServiceMsgMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ServiceMsgMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ServiceMsg instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AppCode -->
  <xsd:element name="appCode" type="AppCode" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AppCode">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AppCode Moniker -->
  <xsd:element name="appCodeMoniker" type="AppCodeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AppCodeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AppCode instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Button -->
  <xsd:element name="button" type="Button" substitutionGroup="graphicElement" />
  <xsd:complexType name="Button">
    <xsd:complexContent>
      <xsd:extension base="GraphicElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ButtonReferencesAppCode -->
          <xsd:element name="appCode" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ButtonReferencesAppCode</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="buttonReferencesAppCode" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ButtonReferencesAppCode needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Text -->
        <xsd:attribute name="text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Button Moniker -->
  <xsd:element name="buttonMoniker" type="ButtonMoniker" substitutionGroup="graphicElementMoniker" />
  <xsd:complexType name="ButtonMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Button instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GraphicElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DropBox -->
  <xsd:element name="dropBox" type="DropBox" substitutionGroup="graphicElement" />
  <xsd:complexType name="DropBox">
    <xsd:complexContent>
      <xsd:extension base="GraphicElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Items -->
        <xsd:attribute name="items" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DropBox Moniker -->
  <xsd:element name="dropBoxMoniker" type="DropBoxMoniker" substitutionGroup="graphicElementMoniker" />
  <xsd:complexType name="DropBoxMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DropBox instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GraphicElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ListBox -->
  <xsd:element name="listBox" type="ListBox" substitutionGroup="graphicElement" />
  <xsd:complexType name="ListBox">
    <xsd:complexContent>
      <xsd:extension base="GraphicElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Items -->
        <xsd:attribute name="items" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ListBox Moniker -->
  <xsd:element name="listBoxMoniker" type="ListBoxMoniker" substitutionGroup="graphicElementMoniker" />
  <xsd:complexType name="ListBoxMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ListBox instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GraphicElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Port -->
  <xsd:element name="port" type="Port" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Port">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: PortReferencesTargetPort -->
          <xsd:element name="targetPort" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of PortReferencesTargetPort</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="portReferencesTargetPort" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of PortReferencesTargetPort needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: PortReferencesState -->
          <xsd:element name="state" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of PortReferencesState</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="portReferencesState" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of PortReferencesState needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Port Moniker -->
  <xsd:element name="portMoniker" type="PortMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="PortMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Port instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasServices -->
  <xsd:element name="mobileAppModelHasServices" abstract="true" type="MobileAppModelHasServices" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModelHasServices" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Embedding relationship between the Model and Elements</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Service -->
          <xsd:element ref="service" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasServices Moniker -->
  <xsd:element name="mobileAppModelHasServicesMoniker" type="MobileAppModelHasServicesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelHasServicesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModelHasServices instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ServiceReferencesTargets -->
  <xsd:element name="serviceReferencesTargets" abstract="true" type="ServiceReferencesTargets" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ServiceReferencesTargets" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Reference relationship between Elements.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Service -->
          <xsd:element ref="serviceMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ServiceReferencesTargets Moniker -->
  <xsd:element name="serviceReferencesTargetsMoniker" type="ServiceReferencesTargetsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ServiceReferencesTargetsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ServiceReferencesTargets instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasControllers -->
  <xsd:element name="mobileAppModelHasControllers" type="MobileAppModelHasControllers" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModelHasControllers">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Controller -->
          <xsd:element ref="controller" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasControllers Moniker -->
  <xsd:element name="mobileAppModelHasControllersMoniker" type="MobileAppModelHasControllersMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelHasControllersMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModelHasControllers instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasStates -->
  <xsd:element name="mobileAppModelHasStates" type="MobileAppModelHasStates" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModelHasStates">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end State -->
          <xsd:element ref="state" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasStates Moniker -->
  <xsd:element name="mobileAppModelHasStatesMoniker" type="MobileAppModelHasStatesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelHasStatesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModelHasStates instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasDataLinked -->
  <xsd:element name="mobileAppModelHasDataLinked" type="MobileAppModelHasDataLinked" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModelHasDataLinked">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end DataLink -->
          <xsd:element ref="dataLink" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasDataLinked Moniker -->
  <xsd:element name="mobileAppModelHasDataLinkedMoniker" type="MobileAppModelHasDataLinkedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelHasDataLinkedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModelHasDataLinked instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasShowFormed -->
  <xsd:element name="mobileAppModelHasShowFormed" type="MobileAppModelHasShowFormed" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModelHasShowFormed">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ShowForm -->
          <xsd:element ref="showForm" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasShowFormed Moniker -->
  <xsd:element name="mobileAppModelHasShowFormedMoniker" type="MobileAppModelHasShowFormedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelHasShowFormedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModelHasShowFormed instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowFormHasGraphicElements -->
  <xsd:element name="showFormHasGraphicElements" type="ShowFormHasGraphicElements" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ShowFormHasGraphicElements">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end GraphicElement -->
          <xsd:element ref="graphicElement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ShowFormHasGraphicElements Moniker -->
  <xsd:element name="showFormHasGraphicElementsMoniker" type="ShowFormHasGraphicElementsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ShowFormHasGraphicElementsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ShowFormHasGraphicElements instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasServiceInvoked -->
  <xsd:element name="mobileAppModelHasServiceInvoked" type="MobileAppModelHasServiceInvoked" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModelHasServiceInvoked">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ServiceInvoke -->
          <xsd:element ref="serviceInvoke" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasServiceInvoked Moniker -->
  <xsd:element name="mobileAppModelHasServiceInvokedMoniker" type="MobileAppModelHasServiceInvokedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelHasServiceInvokedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModelHasServiceInvoked instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasServiceMsg -->
  <xsd:element name="mobileAppModelHasServiceMsg" type="MobileAppModelHasServiceMsg" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModelHasServiceMsg">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ServiceMsg -->
          <xsd:element ref="serviceMsg" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasServiceMsg Moniker -->
  <xsd:element name="mobileAppModelHasServiceMsgMoniker" type="MobileAppModelHasServiceMsgMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelHasServiceMsgMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModelHasServiceMsg instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasAppCoded -->
  <xsd:element name="mobileAppModelHasAppCoded" type="MobileAppModelHasAppCoded" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MobileAppModelHasAppCoded">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AppCode -->
          <xsd:element ref="appCode" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MobileAppModelHasAppCoded Moniker -->
  <xsd:element name="mobileAppModelHasAppCodedMoniker" type="MobileAppModelHasAppCodedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MobileAppModelHasAppCodedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MobileAppModelHasAppCoded instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateReferencesShowForm -->
  <xsd:element name="stateReferencesShowForm" type="StateReferencesShowForm" substitutionGroup="core:modelElement" />
  <xsd:complexType name="StateReferencesShowForm">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ShowForm -->
          <xsd:element ref="showFormMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateReferencesShowForm Moniker -->
  <xsd:element name="stateReferencesShowFormMoniker" type="StateReferencesShowFormMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="StateReferencesShowFormMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for StateReferencesShowForm instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ControllerReferencesStates -->
  <xsd:element name="controllerReferencesStates" type="ControllerReferencesStates" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ControllerReferencesStates">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end State -->
          <xsd:element ref="stateMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ControllerReferencesStates Moniker -->
  <xsd:element name="controllerReferencesStatesMoniker" type="ControllerReferencesStatesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ControllerReferencesStatesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ControllerReferencesStates instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ControllerHasPorts -->
  <xsd:element name="controllerHasPorts" type="ControllerHasPorts" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ControllerHasPorts">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Port -->
          <xsd:element ref="port" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ControllerHasPorts Moniker -->
  <xsd:element name="controllerHasPortsMoniker" type="ControllerHasPortsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ControllerHasPortsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ControllerHasPorts instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PortReferencesTargetPort -->
  <xsd:element name="portReferencesTargetPort" type="PortReferencesTargetPort" substitutionGroup="core:modelElement" />
  <xsd:complexType name="PortReferencesTargetPort">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Port -->
          <xsd:element ref="portMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PortReferencesTargetPort Moniker -->
  <xsd:element name="portReferencesTargetPortMoniker" type="PortReferencesTargetPortMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="PortReferencesTargetPortMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for PortReferencesTargetPort instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PortReferencesState -->
  <xsd:element name="portReferencesState" type="PortReferencesState" substitutionGroup="core:modelElement" />
  <xsd:complexType name="PortReferencesState">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end State -->
          <xsd:element ref="stateMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- PortReferencesState Moniker -->
  <xsd:element name="portReferencesStateMoniker" type="PortReferencesStateMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="PortReferencesStateMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for PortReferencesState instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateReferencesPortFromState -->
  <xsd:element name="stateReferencesPortFromState" type="StateReferencesPortFromState" substitutionGroup="core:modelElement" />
  <xsd:complexType name="StateReferencesPortFromState">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Port -->
          <xsd:element ref="portMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateReferencesPortFromState Moniker -->
  <xsd:element name="stateReferencesPortFromStateMoniker" type="StateReferencesPortFromStateMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="StateReferencesPortFromStateMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for StateReferencesPortFromState instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateReferencesTargetStated -->
  <xsd:element name="stateReferencesTargetStated" type="StateReferencesTargetStated" substitutionGroup="core:modelElement" />
  <xsd:complexType name="StateReferencesTargetStated">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end State -->
          <xsd:element ref="stateMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- StateReferencesTargetStated Moniker -->
  <xsd:element name="stateReferencesTargetStatedMoniker" type="StateReferencesTargetStatedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="StateReferencesTargetStatedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for StateReferencesTargetStated instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ButtonReferencesAppCode -->
  <xsd:element name="buttonReferencesAppCode" type="ButtonReferencesAppCode" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ButtonReferencesAppCode">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AppCode -->
          <xsd:element ref="appCodeMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ButtonReferencesAppCode Moniker -->
  <xsd:element name="buttonReferencesAppCodeMoniker" type="ButtonReferencesAppCodeMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ButtonReferencesAppCodeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ButtonReferencesAppCode instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

